.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 10%;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo a {
  font-size: 26px;
  font-weight: bold;
  color: #2e7d32;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #2f3e2f;
  font-weight: 500;
}

.farmer-btn {
  background: #2e7d32;
  color: white !important;
  padding: 8px 16px;
  border-radius: 6px;
}
